<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2>Dashboard</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="bs-component">
          <div class="panel panel-success shadow">
            <div class="panel-heading">Total Number of Medics in function</div>
            <div class="panel-body">
              {{doctorCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="bs-component">
          <div class="panel panel-success shadow">
            <div class="panel-heading">Total Number of Patients</div>
            <div class="panel-body">
              {{patientCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="bs-component">
          <div class="panel panel-success shadow">
            <div class="panel-heading">Total Number of Pharmacists</div>
            <div class="panel-body">
              {{pharmacistCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="bs-component">
          <div class="panel panel-success shadow">
            <div class="panel-heading">Medic with the most Recipes</div>
            <div class="panel-body">
              {{docWithMostReceitas}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="bs-component">
          <div class="panel panel-success shadow">
            <div class="panel-heading">Pharmacist with the most aviations</div>
            <div class="panel-body">
              {{pharmacistWithMostAviamentos}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="bs-component">
          <div class="panel panel-success shadow">
            <div class="panel-heading">Patient with the most prescriptions</div>
            <div class="panel-body">
              {{patientWithMostAviamentos}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>