<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2>Dashboard</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="bs-component  ">
          <div class="panel panel-danger shadow">
            <div class="panel-heading ">Recipes Per Month</div>
            <div class="panel-body">
              <div style="display: block">
                <canvas width="90" height="240" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [colors]="lineChartColors" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bs-component">
          <div class="panel panel-danger shadow">
            <div class="panel-heading">The Most Prescribed Medicine</div>
            <div class="panel-body">
              <div style="display: block">
                <canvas width="90" height="240" baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions2"
                  [colors]="lineChartColors" [legend]="barChartLegend2" [chartType]="barChartType2" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-success shadow">
            <div class="panel-heading">Total Number of Patients</div>
            <div class="panel-body">
              {{patientsVec.length}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-success shadow">
            <div class="panel-heading">Total Prescribed Medicine</div>
            <div class="panel-body">
              {{prescriptions}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-success shadow">
            <div class="panel-heading">Total Number of Presentations' Comments</div>
            <div class="panel-body">
              {{nComments}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>