<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2>Dashboard</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="bs-component">
                    <div class="panel panel-success shadow">
                        <div class="panel-heading">Total Number of Prescribed Recipes</div>
                        <div class="panel-body">
                            {{nRecipes}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bs-component">
                    <div class="panel panel-success shadow">
                        <div class="panel-heading">The Most Prescribed Medicine</div>
                        <div class="panel-body">
                            {{mostPMedicine}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bs-component">
                    <div class="panel panel-success shadow">
                        <div class="panel-heading">The Least Prescribed Medicine</div>
                        <div class="panel-body">
                            {{leastPMedicine}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bs-component">
                    <div class="panel panel-success shadow">
                        <div class="panel-heading">Total Number of Dispensed Medicine</div>
                        <div class="panel-body">
                            {{contDispensed}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="bs-component">
                    <div class="panel panel-success shadow">
                        <div class="panel-heading">Total Number of Non-Dispensed Medicine</div>
                        <div class="panel-body">
                            {{contNotDispensed}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>