<div class="container">
  <div class="jumbotron">
    <h1 class="text-on-image">
      LAPR5 - MEDICAL MANAGER
    </h1>
  </div>
  <div class="col-md-4">
    <h2>Manage Medical Recipes</h2>
    <p>
      Create, edit, prescrive, dispense, etc
    </p>

  </div>
  <div class="col-md-4">
    <h2>Manage Prescriptions</h2>
    <p>
      Controll the prescription flow, to the client. Dispense, manage alter.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Manage Pharmacy Stock</h2>
    <p>
      Manage the stock in the pharmacy.
    </p>
  </div>
</div>